@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

body {
    pointer-events: none;
}

.top-container {
    width: 100%;
    margin: 0;
}

#root {
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.background {
    pointer-events: all;
}

.background div {
    display: block;
    z-index: -1;
    position: fixed;
    left: 0;
    right: 0;

    width: 100%;
    height: 100%;
}

.mid-scene {
    text-align: center;
    background-color: black;
    color: white;
    width: 100vw;
    height: 110vh;

    padding: 10px 20vw;
    pointer-events: all;
}

.background img {
    width: 100%;
    height: auto;

    max-height: 140%;
}

.beginScreen {
    text-align: center;
    pointer-events: all;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.beginScreen button {
    margin: 20px 0;
}

.game {
    width: 62vw;
    margin: 0 auto;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgba(248, 214, 214, 0.9);
    pointer-events: all;
}

.history-container {
    display: flex;
    width: 100%;
    max-height: 47vh;
    flex-direction: column;
    align-items: center;

    flex-grow: 1;
    overflow-y: auto;

    margin-top: 15px;
}

.gameHeader {
    text-align: center;
    padding: 0.8em 0 0.5em;

    background-color: rgb(0, 0, 0);
    color: white;
}

.game-container {
    text-align: center;
    width: 90%;
}

.choice-container {
    width: 80%;
    margin: 0 auto;
    padding: 10px 20px 15px;

    pointer-events: all;
}

.story-node {
    width: 80%;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 249, 240);

    border: 1px solid black;
    padding: 12px 30px;
    margin: 1px;
}

.story-node p {
    margin: 0;
    padding: 3px;
}

.choices {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin: 20px auto 0;
    border-collapse: collapse;
}

.fadeOut{
    opacity:0;
    transition: opacity 0.5s;
}

.fadeIn{
    opacity:1;
    transition: opacity 1s;
}

.choice-item {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    padding: 0 5px;
    height: 100%;
}

.choice-item button {
    height: 100% !important;
}

.storyChoice p {
    margin: 5px;
}