.gameHeader {
    padding-bottom: 10px;
}

.background img{
    display: block;
    z-index: -1;
    position: fixed;
    left: 0;
    right: 0;
    width: 100vw;
    margin: 0 auto;
}

.beginScreen {
    text-align: center;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history-container {
    display: flex;
    width: 70vw;
    max-height: 50vh;
    flex-direction: column;
    align-items: center;

    flex-grow: 1;
    overflow-y: auto;
}

.container {
    text-align: center;
    background-color: rgba(248, 214, 214, 0.9);
    padding: 20px 0;
}

.story-node {
    width: 80%;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 249, 240);

    border: 1px solid black;
    padding: 12px 30px;
    margin: 1px;
}

.story-node p {
    margin: 0;
    padding: 3px;
}

.choices {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    margin-top: 20px;
}

.fadeOut{
    opacity:0;
    transition: opacity 0.5s;
}

.fadeIn{
    opacity:1;
    transition: opacity 1s;
}

.choices div {
    display: flex;
    margin: 3px;
    flex: 1;
}

.storyChoice p {
    margin: 5px;
}